POSTGRES_DB=cars_db
POSTGRES_USER=user
POSTGRES_PASSWORD=Passw0rd
POSTGRES_PORT=5252

POSTGRES_TEST_DB=cars_test_db

# Example of setting migration version, if not set - all migrations are appies
#MIGRATION_VERSION=7

# Note: port and host are hardcoded due in-compose routing
DATABASE_HOST_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432"
DATABASE_URL="${DATABASE_HOST_URL}/${POSTGRES_DB}?sslmode=disable"