POSTGRES_DB=cars_db
POSTGRES_USER=user
POSTGRES_PASSWORD=Passw0rd
POSTGRES_PORT=5252

POSTGRES_TEST_DB=cars_test_db

# Example of setting migration version, if not set - all migrations are appies
#MIGRATION_VERSION=7

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"